<section class="timer">
  <div class="timer__header">
    <p class="header__num">
      {{min < 10 ? "0" + min : min}} 
    </p>
    <p class="header__num">
      :
    </p>
    <p class="header__num">
      {{sec < 10 ? "0" + sec : sec}}
    </p>
  </div>
  <div class="timer__wrapper-button">
    <button *ngIf="!running" class="button" (click)="start$.next(1)">
      Start
    </button>
    <button *ngIf="running" class="button" (click)="stop$.next(1)">
      Stop
    </button>
    <button class="button" (click)="wait$.next(1)">
      Wait
    </button>
    <button class="button" (click)="reset$.next(1)">
      Reset
    </button>
  </div>
</section>